<div class="cards-container">
    <div class="card">
        <img src="./img/arcsnare.jpg" alt="Arc Snare">
        <p>Arc Snare</p>
    </div>
    <div class="card">
        <img src="./img/curo.jpg" alt="Curo">
        <p>Curo</p>
    </div>
    <div class="card">
        <img src="./img/bloodembrace.jpg" alt="Blood Embrace">
        <p>Blood Embrace</p>
    </div>
    <div class="card">
        <img src="./img/spiritfox.jpg" alt="Spiritfox">
        <p>Spiritfox</p>
    </div>
    <div class="card">
        <img src="./img/newnew.jpg" alt="newnew">
        <p>newnew</p>
    </div>
    <div class="card">
        <img src="./img/heartseeker.jpg" alt="Heart Seeker">
        <p>Heart Seeker</p>
    </div>
</div>
